@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.icons {
  @apply text-gray-blue text-xs hover:text-blue font-medium
}

.align-page {
  @apply w-full p-4 xs:p-6 sm:w-11/12 md:w-10/12 lg:w-3/4 xl:w-1/2 sm:px-0
}

.auth {
  @apply text-blue cursor-pointer hover:text-gray-blue text-sm font-bold
}